<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>WebApp</servlet-name>
  <servlet-class>rkorzeniec.javaee.servlet.WebAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WebApp</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <listener>
  <listener-class>rkorzeniec.javaee.servletListeners.ServletContextListener</listener-class>
  </listener>
  <login-config>
  <auth-method>BASIC</auth-method>
  </login-config>
  <security-role>
  <role-name>admin</role-name>
  </security-role>
  <security-role>
  <role-name>user</role-name>
  </security-role>
  <security-constraint>
  <web-resource-collection>
  <web-resource-name>SecurityRule</web-resource-name>
  <url-pattern>*.jsp</url-pattern>
  <http-method>GET</http-method>
  </web-resource-collection>
  <auth-constraint>
  <role-name>admin</role-name>
  </auth-constraint>
  <user-data-constraint>
  <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
  </security-constraint>
  <filter>
  <filter-name>FilterRules</filter-name>
  <filter-class>rkorzeniec.javaee.filtres.FilterRules</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>FilterRules</filter-name>
  <url-pattern>/hello</url-pattern>
  </filter-mapping>
</web-app>